#familyintro{
	text-align: center;
	text-decoration-color: coral;
}

#mom{
	width: 102 px;
	height: 120 px;
}

#sister{
	text-align: center;
	
}

#me{
	text-align: center;
}

#hey{
	height: 89px;
	text-decoration-color: crimson;
}